
/*TOPBAR*/
.topbar-wrapper{
  font-family: 'Lato', sans-serif;
  height: 56px;
  border: 1px solid #979797;
}

.topbar{
  margin: auto;
  width: 81%;
}

.topbar .logo {
  display: inline-block;
  margin-top: 5px;
  height: 45px;
  width: 45px;
}

.topbar .menu-button {
  margin-top: 17px;
  padding: none;
  height: 19px;
  width: 24px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.topbar .menu-button .menu-icon {
  display: inline-block;
  height: 19px;
  width: 24px;
  border: none;
  margin: -1px 0 0 -6px;
  padding: none;
}

.topbar .menu {
  display: inline-block;
  float: right;
}

.topbar .menu ul{
  list-style: none;
  display: inline-block;
  font-size: 17px;
}

.topbar .menu ul li{
  display: inline-block;
}

.topbar .menu ul li:not(:last-child){
  margin-right: 17px;
}

.topbar .menu ul li a{
  text-decoration: none;
  color: #3E433E;
}

.topbar .menu-icon{
  display: none;
}

/*MOBILE*/
@media (max-width: 1170px){
  .topbar{
    text-align: center;
  }
  .topbar .logo{
    display: inline-block;
  }
  .topbar .menu-button{
    display: inline-block;
    float: left;
  }
  .topbar .menu ul{
    display: none;
  }
}

/*MOBILE SMALL*/
@media (max-width: 750px){
  .topbar{
    width: 90.6%;
  }
}