
/*TOPBAR*/
.topbar-wrapper{
  font-family: 'Lato', sans-serif;
  height: 56px;
  border-bottom: 1px solid #979797;
  margin: 0;
  padding: 0;
}

.topbar{
  margin: auto;
  width: 81vw;
}

.topbar .logo {
  display: inline-block;
  margin-top: 7px;
  height: 45px;
  width: 45px;
}


.topbar .menu {
  display: inline-block;
  float: right;
  height: 100%;
}

.topbar .menu ul{
  list-style: none;
  display: inline-block;
  font-size: 14px;
  height: 17px;
  margin-top: 20px;
}

.topbar .menu ul li{
  display: inline-block;
  margin-right: 24px;
}

.topbar .menu ul li:last-child{
  margin-right: 0px;
  margin-left: 22px;
  color: #4990E2;
  font-weight: bold;
}

.topbar .menu ul li:last-child a{
  color: #4990E2;
}

.topbar .menu ul li a{
  text-decoration: none;
  color: #3E433E;
}

.topbar .menu-button{
  display: none;
  padding: none;
  height: 19px;
  width: 24px;
  margin-top: 19px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.topbar .menu-button .menu-icon {
  display: inline-block;
  height: 19px;
  width: 24px;
  border: none;
  margin: 1px 0 0 16px;
  padding: none;
}

/*MOBILE*/
@media (max-width: 1170px){
  .topbar{
    text-align: center;
    padding-right: 36px;
  }
  .topbar .logo{
    display: inline-block;
  }
  .topbar .menu-button{
    display: inline-block;
    float: left;
  }
  .topbar .menu ul{
    display: none;
  }
}

/*MOBILE SMALL*/
@media (max-width: 750px){
  .topbar{
    width: 90.6vw;
  }
}