/*DIVIDER*/
.divider{
  width: 100%;
  border: 1px solid #E4E4E4;
  margin: 10px 0 30px 0;
}

/*ARTICLES*/
.article{
  color: #000000;
  width: 100%;
}

.article .article-category{
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}

.article .article-image{
  width: 100%;
}

.article .article-title{
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 17px;
  margin: 10px 0;
}

.article .author{
  height: 45px;
  display: flex;
  margin-bottom: 15px;
}

.article .author-avatar{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.article .author-name{
  height: 45px;
  line-height: 45px;
  font-size: 13px;
  margin-left: 10px;
  color: #808080;
}

.article .article-desc{
  font-size: 14px;
  color: #686868;
  letter-spacing: 0;
}

/*ARTICLES HIGHLIGHT*/
.highlight-article .article-title{
  font-size: 29px;
  line-height: 35px;
}

.highlight-article .article-category{
  /*color: #FF001F;*/
}

.highlight-article .author{
  height: 45px;
  display: flex;
}

.highlight-article .author-avatar{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.highlight-article .author-name{
  font-size: 13px;
}

/*ARTICLES SECONDARY*/
.secondary-article .article-category{
  color: #4990E2;
}

/*ARTICLES TERTIARY*/
.tertiary-article .article-category{
  color: #7CBC37;
}

/*ARTICLES MINIMAL*/
.minimal-article-1 .article-category{
  color: #F6A623;
}

.minimal-article-2 .article-category{
  color: #4990E2;
}

.minimal-article-3 .article-category{
  color: #7CBC37;
}