/*ARTICLES*/
.article{
  width: 100%;
  margin: 60px 0 0 0;
  color: #000000;
}

.article .category{
  margin: 0;
  padding: 0 0 8px 0;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  line-height: 12px;
}

.article .thumb-wrapper{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.article .thumb-wrapper .image{
  width: 100%;
  margin: auto;
  display: block;
}

.read-more-button{
  position:absolute;
  width:100px;
  height:30px;
  top:50%;
  left:50%;
  margin: -15px 0px 0px -50px;
}

.article .title{
  padding: 15px 0 10px 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 29px;
  line-height: 35px;
  font-weight: 600;
}

/* SECONDARY ARTICLES MOBILE */
@media (max-width: 1170px){
}

/* SECONDARY ARTICLES MOBILE SMALL */
@media (max-width: 750px){
  .article .title{
    font-size: 17px;
    line-height: 21px;
    font-weight: 600;
  }
}

.article .author{
  height: 45px;
  display: table;
}

.article .author-avatar{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.article .author-name{
  padding-left: 10px;
  line-height: 18px;
  font-size: 13px;
  display: table-cell;
  vertical-align: middle;
  color: #808080;
}

.article .desc{
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
  color: #686868;
  letter-spacing: 0;
}

/*SECONDARY ARTICLES*/
.secondary-article .title{
  font-size: 17px;
  line-height: 21px;
}

.secondary-article .author{
  height: 32px;
  padding-bottom: 20px;
}

.secondary-article .author-avatar{
  width: 32px;
  height: 32px;
}

/*MINIMAL ARTICLES*/
.minimal-article .title{
  font-size: 17px;
  line-height: 21px;
}

.minimal-article .author{
  height: 32px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.minimal-article .author-avatar{
  width: 32px;
  height: 32px;
}

/*DIVIDER*/
.divider{
  width: 100%;
  border: 1px solid #E4E4E4;
  margin: 10px 0 30px 0;
}